$color-font: rgb(0, 0, 0);
$color-bg-default: rgb(235, 182, 102);
$color-bg-boxes: #FD3;
$font-default: Arial, Helvetica, sans-serif;
$font-size-default: 1.6rem;

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $color-bg-default;
    font-family: $font-default;
    margin: 0;
}

h1 {
    color: $color-font;
    text-align: center;
    margin-top: 4rem;
}

h2 {
    margin-top: 2rem;
}

header,
section,
footer {
    display: block;
    float: left;
    width: 100%;
}

#root {
    align-items: center;
}

#sobre {
    background-color: white;
    border-radius: 1rem;


}

.container {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 90vw;

    // img {
    //     width: 100%;
    //     height: auto;
    // }

}



#catalogo,
#contatoTitle {
    display: flex;
    justify-content: center;
}

#catalogo h1,
#contatoTitle h1 {
    font-size: 2.7rem;
    text-align: center;
    border-radius: 1rem;
    max-width: 150px;
    padding: 5px 10px;
    background-color: white;
}



footer {
    display: flex;
    justify-content: center
}

@import 'vitrine';
@import 'cabecalho';
@import 'sobre';
@import 'form';
@import 'fonts';
@import 'banner';
@import 'responsive';







