$align-left: left;
$bg-color: #ddd;
$bg-arcade-color:linear-gradient(#333,rgb(39, 39, 39),#222);
$bg-footer-color:rgb(231, 131, 0);
$color-01: #ff5;
$color-02: rgb(245, 245, 245);
$color-03: rgb(219, 88, 0);
$color-04: #222;
$brand-color: rgb(255, 122, 34);
$brand-font:'Bebas Neue', cursive;
$nav-font:'Roboto Flex', sans-serif;
$text-color: rgb(32, 32, 32);
$container-width: 1170px;
$font-family-default: Arial, Helvetica, sans-serif;
$font-size-brand:4rem;
$font-sm:0.8rem;
